<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Вагоны</title>
    {{> header}}
</head>
<body>
<div class="div">
    <h1>Существующие вагоны</h1>
    <a href="http://r-ticket.chav:6608/car/create">Добавить вагоны</a>
    {{#cars as |car|}}
        <p>
            {{car.SerialNumber}}: {{car.PlaceType}}
        </p>
    {{/cars}}
</div>
</body>
</html>