<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Поезда</title>
    {{> header}}
</head>
<body>
<div class="div">
    <div>
        <h1>Поезда</h1>
        {{#trains as |train|}}
            <p>{{train.Number}}: {{train.DepartureStation}} - {{train.ArrivalStation}}</p>
        {{/trains}}
    </div>
    <div class="link">
        <a href="http://r-ticket.chav:6608/train/create">Новый поезд</a>
    </div>
</div>
</body>
</html>