<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Технология + XML</title>
    <script type="text/javascript" src="../jquery-3.3.1.min.js" ></script>
    <script type="text/javascript" src="../scripts/backup.js" ></script>
    {{> header}}
</head>
<body>
<div class="div" style="display: block">
    <div class="backup">
        Сделать резервное копирование базы
        <input type="button" class="btn-backup" value="Сделать">
    </div>
    <br>
    <br>
    <div class="recovery">
        Сделать восстановление базы из копии
        <input type="button" class="btn-recovery" value="Сделать">
    </div>
</div>
</body>
</html>