<link href="/style.css" rel="stylesheet" type="text/css"/>
<header>
    <div class="container">
        <span id="home">
            <a href="/">
                <img src="images/favicon.ico">
            </a>
        </span>
        <div class="box">
            <ul>
                <li><a href="/shedule">Расписание</a></li>
                <li><a href="/train">Поезда</a></li>
                <li><a href="/station">Станции</a></li>
                <li><a href="/routes">Маршруты</a></li>
            </ul>
        </div>
    </div>
</header>
<div class="div">