<link href="http://r-ticket.chav:6608/style.css" rel="stylesheet" type="text/css"/>
<header>
    <div class="header">
        <span id="home">
            <a href="/">
                <img alt="На главную" src="http://r-ticket.chav:6608/images/favicon.ico">
            </a>
        </span>
        <div class="box">
            <ul>
                <li><a href="http://r-ticket.chav:6608/shedule">Расписание</a></li>
                <li><a href="http://r-ticket.chav:6608/train">Поезда</a></li>
                <li><a href="http://r-ticket.chav:6608/station">Станции</a></li>
                <li><a href="http://r-ticket.chav:6608/routes">Маршруты</a></li>
                <li><a href="http://r-ticket.chav:6608/cruising">Дни курсирования</a></li>
                <li><a href="http://r-ticket.chav:6608/car">Вагоны</a></li>
                <li><a href="http://r-ticket.chav:6608/space">Места</a></li>
                <li><a href="http://r-ticket.chav:6608/user">Пользователи</a></li>
                <li><a href="http://r-ticket.chav:6608/ticket">Билеты</a></li>
            </ul>
        </div>
        <span id="login">
            <a href="http://r-ticket.chav:6608/login">
                <img alt="На главную" src="http://r-ticket.chav:6608/images/login.png">
            </a>
        </span>
    </div>
</header>